form{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    color: #F5F3E7;
    font-weight: bold;
    margin: 0;
}
label {
margin-bottom: 8px;
}
div{
    justify-content: center;
    background: #16281D;
    width: 200px;
    height: 200px;
    padding: 8px;
}